:root {
    --my-green: #588f4d;
}


/* -- header -- */

#logbtn {
    font-size: 2em;
}

.sign-icon {
    color: grey;
}

.sign-icon:hover {
    /*color: lightgreen;*/
    color: var(--my-green);
}


/* -- navigation -- */

nav {
    background-color: lightgreen;
}


/* --- nav animation BEGINING --- */


/* posición de referéncia para la animación */

.custom-nav {
    position: relative;
}


/*
 según la posición de referéncia, se crea antes una linea 
 con la que se hará la animación del menú
*/

.custom-nav::before {
    content: '';
    position: absolute;
    width: 100%;
    max-width: 100px;
    height: 2px;
    left: 0;
    bottom: 0.5em;
    background-color: grey;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-out;
}


/* al pasar el ratón por encima, hace visible la línea haciendo que crezca debido al transform */

.custom-nav:hover::before {
    visibility: visible;
    left: 0;
    transform: scaleX(1);
}


/* --- nav animation END --- */


/* -- main -- */

#searchId {
    position: relative;
    text-align: center;
}

#mainBckGrd {
    width: 100%;
    height: auto;
}

#search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

@media only screen and (max-width: 992px) {
    #searchTextId {
        width: 30em;
    }
}

@media only screen and (min-width: 992px) {
    #searchTextId {
        width: 45em;
    }
}

@media only screen and (max-width: 768px) {
    #searchTextId {
        width: 20em;
    }
}

@media only screen and (max-width: 576px) {
    #searchTextId {
        width: 10em;
    }
}

.bookImage {
    max-height: 20em;
}


/* -- footer -- */

footer {
    background-color: lightgreen;
    padding: 1.25em 0;
    padding-bottom: .5em;
}